.container-icon-bulb {
    text-align: center;
    color: #ECD461;
    animation-name: animation-bulb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.container-icon-bulb i {
    font-size: 8rem;
}

@keyframes animation-bulb {
    0%   {
        filter: brightness(1);
        filter: contrast(1);
        -webkit-filter: brightness(1);
        -webkit-filter: contrast(1);
    }
    50%  {
        filter: brightness(0.4);
        filter: contrast(0.4);
        -webkit-filter: brightness(0.4);
        -webkit-filter: contrast(0.4);
    }
    100% {
        filter: brightness(1);
        filter: contrast(1);
        -webkit-filter: brightness(1);
        -webkit-filter: contrast(1);
    }
}