<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="container-icon-bulb">
          <i class="far fa-lightbulb"></i>
        </div>
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Idea en construcción.</h4>
          <p class="text-muted">No se encontró la página que está buscando.</p>
        </div>
        <div class="input-prepend input-group">
          <button class="btn btn-primary" type="button" [routerLink]="['/']" style="width: 100%;">
            <i class="fa fa-home"></i> Volver a página inicial
          </button>
        </div>
      </div>
    </div>
  </div>
</div>