<ol class="breadcrumb" style="width: 100%;">
    <ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last=last>
        <li class="breadcrumb-item"
            *ngIf="breadcrumb.label?.title && breadcrumb.url.substring(breadcrumb.url.length-1) == '/' || breadcrumb.label?.title && last"
            [ngClass]="{active: last}">
            <span *ngIf="!last">{{breadcrumb.label.title}}</span>
            <span *ngIf="last">{{breadcrumb.label.title}}</span>
        </li>
    </ng-template>
</ol>