<div class="card">
    <div class="card-header">
      <h5 class="modal-title" id="@labelledID">{{ isEditView ? 'Editar' : 'Agregar' }} empleado</h5>
    </div>
    <form class="form-horizontal" [formGroup]="addEditEmpleadoModelForm" (ngSubmit)="save()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                <mat-label>Tipo Documento</mat-label>
                <mat-select formControlName="tipoDocumentoId" name="tipoDocumentoId">
                  <mat-option>Seleccione tipo documento...</mat-option>
                  <mat-option *ngFor="let tipoDocumento of tipoDocumentoList" [value]="tipoDocumento.id">{{tipoDocumento.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                <mat-label>Documento</mat-label>
                <input matInput type="text" formControlName="numeroDocumento" class="uppercase" required>
                <mat-error *ngIf="controls.numeroDocumento?.errors?.required">El documento requeridos</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                    <mat-label>Nombres</mat-label>
                    <input matInput type="text" formControlName="nombres" class="uppercase" required>
                    <mat-error *ngIf="controls.nombres?.errors?.required">Los nombres son requeridos</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" formControlName="apellidos" class="uppercase" required>
                <mat-error *ngIf="controls.apellidos?.errors?.required">Los apellidos son requeridos</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                <mat-label>Áreas</mat-label>
                <mat-select formControlName="areaId" name="areaId" (selectionChange)="getSubareasByArea($event.value)">
                  <mat-option>Seleccione área...</mat-option>
                  <mat-option *ngFor="let area of areaList" [value]="area.id">{{area.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                <mat-label>Subareas</mat-label>
                <mat-select formControlName="subareaId" name="subareaId">
                  <mat-option>Seleccione subarea...</mat-option>
                  <mat-option *ngFor="let subarea of subareaList" [value]="subarea.id">{{subarea.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-footer">
            <button type="button" [routerLink]="'/empleado'" class="btn btn-secondary" style="margin-right: 7px;">Cancelar</button>
            <button type="submit" [disabled]="(!addEditEmpleadoModelForm.valid || !addEditEmpleadoModelForm.dirty)" class="btn btn-primary">{{ isEditView ? 'Guardar' : 'Crear' }}</button>
        </div>
    </form>
</div>
