<div class="card">
    <div class="card-header">
      <h5 class="modal-title" id="@labelledID">{{ isEditView ? 'Editar' : 'Agregar' }} subarea</h5>
    </div>
    <form class="form-horizontal" [formGroup]="addEditSubareaForm" (ngSubmit)="save()">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                    <mat-label>Área</mat-label>
                    <mat-select formControlName="areaId" name="areaId">
                      <mat-option>Seleccione área...</mat-option>
                      <mat-option *ngFor="let area of areaList" [value]="area.id">{{area.nombre}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="nombre" class="uppercase" required>
                        <mat-error *ngIf="controls.nombre?.errors?.required">El nombre es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" [routerLink]="'/subarea'" class="btn btn-secondary" style="margin-right: 7px;">Cancelar</button>
            <button type="submit" [disabled]="(!addEditSubareaForm.valid || !addEditSubareaForm.dirty)" class="btn btn-primary">{{ isEditView ? 'Guardar' : 'Crear' }}</button>
        </div>
    </form>
</div>
