<header class="app-header navbar">
  <app-header [navbarBrandRouterLink]="['/']" [fixed]="true" [navbarBrandText]="{ text: 'Onelink BPO'}" [sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="showAsideToggler">
    <ul class="nav navbar-nav d-md-down-none" *ngIf="showAsideToggler">
      <li class="nav-item px-3">
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
          dropdownToggle style="padding-right: 24px;" (click)="false">
          <span>{{userName}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <button type="button" class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Cerrar Sesión</button>
        </div>
      </li>
    </ul>
  </app-header>
</header>
