<div [@inOutAnimation] *ngIf="isLoading" class="overlay">
    <mat-progress-spinner class="spinner" [color]="'primary'" [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>
<!-- <div [@inOutAnimation] *ngIf="isLoading" class="overlay">
    <svg width="100" height="100" viewBox="0 0 100 100">
        <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="yellow"></polyline>
        <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
        <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
        <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
      </svg>
</div>  -->