// Here you can add other styles
.app-login {
    background-color: $background-login;
}

.app-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 $spacer;
    color: $footer-color;
    background: $footer-bg;
    flex: 0 0 $footer-height;
    height: $footer-height;
    @include borders($footer-borders);
}

.mat-form-field--fullwidth {
    width: 100%;
}

.col-md-6--margin, .col-md-12--margin {
    margin: 7px 0;
}

.card-header--rightitems {
    text-align: right;
}

.table-actions {
    display: grid;
    column-gap: 7px;
    justify-items: center;
    justify-content: center;
    grid-auto-flow: column;
}

.custom-dialog .mat-dialog-title {
    padding: 0 10px;
    margin: -24px -24px 24px -24px;
    height: 40px;
    line-height: 40px;;
}

.uppercase {
    text-transform: uppercase;
}

legend {
    border-bottom: 1px solid #858796 !important;
    font-size: 1.2rem;
}