/* ./ NAV */
.navbar-brand-full.ng-star-inserted {
  text-shadow: 0 1px 0 #8d0583,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
  font-size: 25px impor !important;
}

.navbar-nav .nav-link{
  color: $primary;

  &:hover{
    color: $primary-dark;
  }
}
/* ./ NAV */

/* ./ CARDS */
.card-header-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.bg-secondary {
  color: #fff;
}
/* CARDS ./ */

/* ./ GRID */
.row-space-title {
  margin-bottom: 30px;

  h1 {
    text-align: center;
  }
}

.table .thead-dark th {
  background-color: $primary;
  border-color: $primary;
}

.btn-dark,
.btn-secondary {
  color: $white;
  background-color: $primary;
  border-color: $primary;

  &:hover {
    color: $white;
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
}
/* GRID ./ */

/* /. BUTTONS */
.btn-primary {
  background-color: $secondary;
  border-color: $secondary;

  &:hover {
    background-color: $secondary-dark;
    border-color: $secondary-dark;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: $secondary;
  border-color: $secondary;
  opacity: 0.69;
}
/* BUTTONS ./ */


