// Variable overrides
$background-login: #00386d;
$primary: #00386d;
$primary-dark: #011930;

$secondary: #8d0583;
$secondary-dark: #5c0456;

$sidebar-bg: #00386d;
$sidebar-nav-link-hover-bg: #25537D;


// $pagination-color: #000;
// $pagination-active-bg: #2f353a;
