<div class="card">
    <div class="card-header">
      <h5 class="modal-title" id="@labelledID">{{ isEditView ? 'Editar' : 'Agregar' }} area</h5>
    </div>
    <form class="form-horizontal" [formGroup]="addEditAreaModelForm" (ngSubmit)="save()">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="nombre" class="uppercase" required>
                        <mat-error *ngIf="controls.nombre?.errors?.required">El nombre es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" [routerLink]="'/area'" class="btn btn-secondary" style="margin-right: 7px;">Cancelar</button>
            <button type="submit" [disabled]="(!addEditAreaModelForm.valid || !addEditAreaModelForm.dirty)" class="btn btn-primary">{{ isEditView ? 'Guardar' : 'Crear' }}</button>
        </div>
    </form>
</div>
