<h1 class="modal-header" *ngIf="data?.headerText" mat-dialog-title>{{data?.headerText}}</h1>

<div mat-dialog-content>{{data.content}}</div>

<div mat-dialog-actions [align]="'end'" style="margin-top: 24px;">
    <button *ngIf="type == types.Confirm" class="btn btn-secondary" [mat-dialog-close]="false" style="margin-right: 10px;">{{ data?.customActionLabels?.cancel ?  data.customActionLabels.cancel : 'Cancelar' }}</button>
    <button [className]="classType" [mat-dialog-close]="true">{{ data?.customActionLabels?.accept ?  data.customActionLabels.accept : 'Aceptar' }}</button>
</div>