.row-space{
  margin-top: 30px;
}

#link {
  a {

    display: inline-block !important;
    width: 100%;
    text-align: right !important;
  }
}

#logo-onelink {
  width: 44%;

  .card-body {
    padding: 40px 0px;
  }

  img {
    width: 20em;
    background: #012546;
    border-radius: 30%;
  }
}
