<div class="app flex-row align-items-center app-login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <form class="card-body" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Inicio Sesión</h1>
                <hr>
                <div class="row row-space">
                    <div class="col-md-12">
                      <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" formControlName="user" name="user" required>
                        <mat-error *ngIf="controls.user?.errors?.required">El usuario es requerido</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field class="mat-form-field--fullwidth" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password" name="password" required>
                        <mat-error *ngIf="controls.password?.errors?.required">La contraseña es requerida</mat-error>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12" *ngIf="message">
                    <div class="alert alert-danger">{{message}}</div>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="!loginForm.valid">Ingresar</button>
                  </div>
                </div>
              </form>
            </div>
            <div id="logo-onelink" class="card text-white py-5 d-md-down-none">
              <div class="card-body text-center">
                <div>
                    <img src="assets/img/logos/Logo-Onelink.png" alt="Logo onelink">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
