<footer class="app-footer">
  <span><a target="_blank" href="https://onelinkbpo.com">Onelink BPO</a> &copy; 2021.</span>
  <span class="ml-auto">Powered by <a target="_blank" href="https://onelinkbpo.com">Sebastián Mejía Serna.</a></span>
</footer>
