<div class="card">
  <div class="card-header card-header-title">
    <h5 class="modal-title" id="@labelledID">Áreas</h5>
    <button [routerLink]="['/area/agregar']" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Nueva</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table appCustomDatatable [customOptions]="optionsTable" class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of gridData">
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td class="table-actions">
              <a [routerLink]="['/area/editar', item.id]" class="btn btn-sm btn-warning" title="Editar">
                <i class="fa fa-edit"></i>
              </a>
              <button role="button" class="btn btn-sm btn-danger" title="Eliminar" (click)="confirmDelete(item)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
