<app-header-layout></app-header-layout>

<div class="app-body">
    <app-sidebar-nav-layout></app-sidebar-nav-layout>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <app-breadcrumb-layout></app-breadcrumb-layout>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->

    </main>

    <app-aside-layout></app-aside-layout>

</div>

<app-footer-layout></app-footer-layout>

